**Situation - One proportional z-test** 
아래 표는 두 개의 반에서 오른손과 왼손 중 주로 사용하는 습관을 조사한 표이다.

In [2]:
import numpy as np
import pandas as pd
from statsmodels.stats.proportion import proportions_ztest

In [4]:
# 빈도수 구하기
data1 = pd.read_csv("./onep.csv")

table1 = pd.crosstab(index = data1['class'], columns = data1['handed'],margins=True, margins_name='Total')
table1

handed   L   R  Total
class
A        9  43     52
B        4  44     48
Total   13  87    100

In [5]:
# Percentage 구하기
table2 = pd.crosstab(index = data1['class'], columns = data1['handed'],margins=True, margins_name='Total', normalize='index')

table2

handed         L         R
class
A       0.173077  0.826923
B       0.083333  0.916667
Total   0.130000  0.870000

In [6]:
table3 = pd.crosstab(index = data1['class'], columns = data1['handed'],margins=True, margins_name='Total', normalize='columns')

table3

handed         L         R  Total
class
A       0.692308  0.494253   0.52
B       0.307692  0.505747   0.48

In [7]:
# 과제2 - (1)
table4 = pd.crosstab(index = data1['class'], columns = data1['handed'],margins=True, margins_name='Total', normalize='all')

table4

handed     L     R  Total
class
A       0.09  0.43   0.52
B       0.04  0.44   0.48
Total   0.13  0.87   1.00

**Situation2**
한 조사에 의하면, 의사 10명 중 9명이 두통에 아스피린을 추천하였다.

In [8]:
# 과제2 - (2)
# 가설설정
print("H0: 90% of doctors recommend Aspirin for headache")
print("H1: 90% of doctors do not recommend Aspirin for headache")

H0: 90% of doctors recommend Aspirin for headache
H1: 90% of doctors do not recommend Aspirin for headache

In [9]:
# 검정하기
pop_0 = 0.9

n = 100
yes = 82
p_hat = yes/n

Zstat, pval = proportions_ztest(count=yes, nobs=n, value=pop_0)

print("Z statistic: ", round(Zstat, 4))
print("p value: ", round(pval, 4))

Z statistic:  -2.0823
p value:  0.0373

In [10]:
# Effect size
a = np.abs(p_hat - pop_0) / np.sqrt(pop_0 * (1 - pop_0))
print("Effect size:", a)

Effect size: 0.26666666666666694